/*@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/RG-StandardBook.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/RG-StandardBookItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/RG-StandardMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/RG-StandardMediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/RG-StandardSemibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/RG-StandardSemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/RG-StandardBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/RG-StandardBoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/RG-SlimBook.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/RG-SlimBlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
*/
@font-face {
	font-family: 'RG Grotesque';
	src: url('../../fonts/grotesque/random-grotesque.spacious.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-RegularItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Panton';
	src: url('../../fonts/panton/Panton-Trial-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
